<html>
  <head>
    <title>AAF | Error</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <p>&nbsp;</p>
      </div>
    </header>

    <section class="content">
      <div class="container">
        <div class="row">
          <p>Please view the included <code>readme.md</code> file.</p>
          <p>It contains instructions on modifications that <strong>MUST</strong> be made before using this sample application.</p>
        </div>
      </div>
    </section>
  </body>
</html>
